<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.unbornconcepts.directory-backbone-rachet"
        versionCode = "10"
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Directory Backbone Rachet Example</name>

    <description>
        An example of Backbone, Rachet and PhoneGap.
    </description>

    <author href="https://http://coenraets.org/" email="support@ccoenraets.org">
        Christophe Coenraets 
    </author>

    <gap:platform name="ios" />
    <gap:platform name="android" />
    
    <preference name="phonegap-version" value="3.4.0" />
    <preference name="orientation" value="portrait" />
    <preference name="prerendered-icon" value="true" />
    <preference name="webviewbounce" value="false" />
</widget>
